$i18n-default ?= ltr
$i18n-ltr ?= '.ltr'
$i18n-rtl ?= '.rtl'
$i18n-set ?= false

{$i18n-ltr}
  direction ltr

{$i18n-rtl}
  direction rtl

i18n-property(prop, dir, args1, args2 = args1)
  oppositeDir = dir ? opposite-position(dir) : ''

  {$i18n-ltr} &,
  {$i18n-ltr}&
    {s(prop, dir)} args1
  {$i18n-rtl} &,
  {$i18n-rtl}&
    if (args1 == args2)
      add-property(s(prop, oppositeDir), args2, false)
    else
      add-property(s(prop, oppositeDir), args2)

border-bottom-left-radius()
  i18n-property 'border-bottom-%s-radius' left arguments

border-bottom-right-radius()
  i18n-property 'border-bottom-%s-radius' right arguments

border-left()
  i18n-property 'border-%s' left arguments

border-left-color()
  i18n-property 'border-%s-color' left arguments

border-left-style()
  i18n-property 'border-%s-style' left arguments

border-left-width()
  i18n-property 'border-%s-width' left arguments

border-right()
  i18n-property 'border-%s' right arguments

border-right-color()
  i18n-property 'border-%s-color' right arguments

border-right-style()
  i18n-property 'border-%s-style' right arguments

border-right-width()
  i18n-property 'border-%s-width' right arguments

border-top-left-radius()
  i18n-property 'border-top-%s-radius' left arguments

border-top-right-radius()
  i18n-property 'border-top-%s-radius' right arguments

float(dir, transform = true)
  if (transform) && (dir == left || dir == right)
    {$i18n-ltr} &,
    {$i18n-ltr}&
      float dir
    {$i18n-rtl} &,
    {$i18n-rtl}&
      float opposite-position(dir)
  else
    float dir

/* cannot overload left() for some reason
left()
  i18n-property '%s' left arguments
*/

margin()
  if (length(arguments) == 4)
    i18n-property 'margin' '' (arguments[0] arguments[3] arguments[2] arguments [1]) (arguments[0] arguments[1] arguments[2] arguments [3])
  else
    margin arguments

margin-left(n, transform = true)
  if transform
    {$i18n-ltr} &,
    {$i18n-ltr}&
      margin-left n
    {$i18n-rtl} &,
    {$i18n-rtl}&
      margin-right n false
  else
    margin-left n

margin-right(n, transform = true)
  if transform
    {$i18n-ltr} &,
    {$i18n-ltr}&
      margin-right n
    {$i18n-rtl} &,
    {$i18n-rtl}&
      margin-left n false
  else
    margin-right n

padding()
  if (length(arguments) == 4)
    i18n-property 'margin' '' (arguments[0] arguments[3] arguments[2] arguments [1]) (arguments[0] arguments[1] arguments[2] arguments [3])
  else
    padding arguments

padding-left(n, transform = true)
  if transform
    {$i18n-ltr} &,
    {$i18n-ltr}&
      padding-left n
    {$i18n-rtl} &,
    {$i18n-rtl}&
      padding-left n false
  else
    padding-left n

padding-right(n, transform = true)
  if transform
    {$i18n-ltr} &,
    {$i18n-ltr}&
      padding-right n
    {$i18n-rtl} &,
    {$i18n-rtl}&
      padding-left n false
  else
    padding-right n

/* cannot overload right() for some reason
right()
  i18n-property '%s' right arguments
*/

text-align(dir, transform = true)
  if (transform) && (dir == left || dir == right)
    {$i18n-ltr} &,
    {$i18n-ltr}&
      text-align dir
    {$i18n-rtl} &,
    {$i18n-rtl}&
      text-align opposite-position(dir)
  else
    text-align dir